// Colores
$verde: green;
$verde-oscuro: darkgreen;
$verde-claro: lightgreen;
$gris-claro: #f5f5f5;
$gris-medio: #ccc;
$negro: #1b1b1b;
$blanco: white;


// Tipografía
$fuente-principal: Arial, sans-serif;

// Tamaños 
$titulo-grande: 4rem;
$titulo-mediano: 3rem;
$titulo-pequeño: 2rem;
$titulo-muypequeño: 1rem;

